<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='styles/home.css' />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <!-- <link rel="Dragoslavic Fitness" type = "jpg" href="https://images.everydayhealth.com/images/everything-you-need-know-about-fitness-1440x810.jpg"> -->
    <title>Dragoslavic Fitness</title>
</head>

<body>
    <header class="header">
        <div class="logo">

        </div>
        <nav>
            <ul>
                <li class='home'><button class='button1'><a href="/"><b><i>Dragoslavic Fitness</i></b></a></button></li>
                <li><button class='button2'><a href="self-care"><b><i>Self Care</i></b></a></button></li>
                <li><button class='button2'><a href="workouts"><b><i>Workouts</i></b></a></button></li>
                <li><button class='button2'><a href="nutrition"><b><i>Nutrition</i></b></a></button></li>
            </ul>
        </nav>
    </header>
    <section class="image">
        <div class="image-image">
            <img src="Images/homepage.jpg" alt="Fitness Hero Image">
        </div>
        <div class="image-content">
            <h1>Dragoslavic Fitness</h1>
            <p>Get fit and stay healthy with my personal fitness tips and nutrition reccomendations</p>
        </div>
    </section>
</body>

</html>