<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = 'styles/home.css' />
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <!-- <link rel="Dragoslavic Fitness" type = "jpg" href="https://images.everydayhealth.com/images/everything-you-need-know-about-fitness-1440x810.jpg"> -->
    <title>Dragoslavic Fitness</title>
</head>
<body>
    <header>
        <div class = "logo">
            
        </div>
        <nav>
            <ul>
                <li class = 'home'><a href="/">Home</a></li>
                <li><a href="self-care">Self Care</a></li>
                <li><a href="workouts">Workouts</a></li>
                <li><a href="nutrition">Nutrition</a></li>
            </ul>
        </nav>
    </header>
    <section class = "image"> 
        <div class = "image-image">
            <img src = "Images/homepage.jpg" alt = "Fitness Hero Image">
        </div>
        <div class = "image-content">
            <h1>Dragoslavic Fitness</h1>
            <p>Get fit and stay healthy with my personal fitness tips and nutrition reccomendations</p>
        </div>
    </section>
</body>
</html>